Dawood Shahzad
02-136221-034
BSAI-5A

Exercise 01

In [1]:
import pandas as pd
import fuzzywuzzy 
from fuzzywuzzy import process

d:\Anaconda\Lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
suicide_attacks=pd.read_csv("D:\\Uni-ka-Barood\\-----CURRENT-----\\PakistanSuicideAttacks Ver 11 (30-November-2017).csv",encoding='latin1')

In [3]:
suicide_attacks.columns

Index(['S#', 'Date', 'Islamic Date', 'Blast Day Type', 'Holiday Type', 'Time',
       'City', 'Latitude', 'Longitude', 'Province', 'Location',
       'Location Category', 'Location Sensitivity', 'Open/Closed Space',
       'Influencing Event/Event', 'Target Type', 'Targeted Sect if any',
       'Killed Min', 'Killed Max', 'Injured Min', 'Injured Max',
       'No. of Suicide Blasts', 'Explosive Weight (max)', 'Hospital Names',
       'Temperature(C)', 'Temperature(F)'],
      dtype='object')

1.	Take a look at all the unique values in the "Province" column in suisides_attacks dataset. Then convert the column to lowercase and remove any trailing white spaces.

In [4]:
suicide_attacks['Province'].unique()

array(['Capital', 'Sindh', 'Baluchistan', 'Punjab', 'FATA', 'KPK', 'AJK',
       'Fata', 'Balochistan'], dtype=object)

In [5]:
suicide_attacks['Province']=suicide_attacks['Province'].str.lower()
suicide_attacks['Province']=suicide_attacks['Province'].str.strip()

In [6]:
suicide_attacks['Province'].unique()

array(['capital', 'sindh', 'baluchistan', 'punjab', 'fata', 'kpk', 'ajk',
       'balochistan'], dtype=object)

2.	In “Province” Column ‘Balochistan’ and ‘Baluchistan’ should be the same province so correct this inconsistency in the Province column

In [7]:
provinces=suicide_attacks['Province'].unique()

In [8]:
matches=fuzzywuzzy.process.extract('balochistan',provinces,limit=10,scorer=fuzzywuzzy.fuzz.token_sort_ratio)

In [9]:
matches

[('balochistan', 100),
 ('baluchistan', 91),
 ('fata', 40),
 ('capital', 22),
 ('ajk', 14),
 ('sindh', 12),
 ('punjab', 12),
 ('kpk', 0)]

In [10]:
def replace_matches_in_column(df,column,string_to_match,min_ratio=90):
    strings=df[column].unique()
    matches=fuzzywuzzy.process.extract(string_to_match,strings,limit=10,scorer=fuzzywuzzy.fuzz.token_sort_ratio)
    
    close_match=[matches[0] for matches in matches if matches[1] >= min_ratio]
    
    rows_with_matches=df[column].isin(close_match)
    df.loc[rows_with_matches,column]=string_to_match
    
    print('completed')

In [11]:
replace_matches_in_column(df=suicide_attacks,column='Province',string_to_match='balochistan',min_ratio=90)

completed

In [12]:
suicide_attacks['Province'].unique()

array(['capital', 'sindh', 'balochistan', 'punjab', 'fata', 'kpk', 'ajk'],
      dtype=object)

3.	In Province column ‘FATA’ and ’Fata’ should be considered same so correct this inconcistency as well

In [13]:
#When we applied lower and strip function in task1, this thing was also resolved there.
suicide_attacks['Province'].unique()

array(['capital', 'sindh', 'balochistan', 'punjab', 'fata', 'kpk', 'ajk'],
      dtype=object)

4.	In suicide_attacks dataset type of ‘Longitude’ column should be numeric rather than ‘Object’. Parse this value from Object to Numeric and show graphical representation using seaborn library.

In [14]:
suicide_attacks['Longitude'].dtype

dtype('O')

In [15]:
encoded_longitude=pd.get_dummies(suicide_attacks[['Longitude']])

In [16]:
encoded_longitude.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 496 entries, 0 to 495
Data columns (total 100 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Longitude_62.35       496 non-null    uint8
 1   Longitude_66.4447     496 non-null    uint8
 2   Longitude_66.452402   496 non-null    uint8
 3   Longitude_66.5224     496 non-null    uint8
 4   Longitude_66.848056   496 non-null    uint8
 5   Longitude_66.981476   496 non-null    uint8
 6   Longitude_66.98195    496 non-null    uint8
 7   Longitude_66.9911     496 non-null    uint8
 8   Longitude_66.998734   496 non-null    uint8
 9   Longitude_67          496 non-null    uint8
 10  Longitude_67.00178    496 non-null    uint8
 11  Longitude_67.002524   496 non-null    uint8
 12  Longitude_67.004469   496 non-null    uint8
 13  Longitude_67.008822   496 non-null    uint8
 14  Longitude_67.010157   496 non-null    uint8
 15  Longitude_67.0182     496 non-null    uint8
 16  Longitude_67.02239    496 non-null    uint8
 17  Longitude_67.174575   496 non-null    uint8
 18  Longitude_67.496895   496 non-null    uint8
 19  Longitude_67.859373   496 non-null    uint8
 20  Longitude_68.6667     496 non-null    uint8
 21  Longitude_68.712889   496 non-null    uint8
 22  Longitude_68.730383   496 non-null    uint8
 23  Longitude_68.8667     496 non-null    uint8
 24  Longitude_69.448659   496 non-null    uint8
 25  Longitude_69.45       496 non-null    uint8
 26  Longitude_69.8597     496 non-null    uint8
 27  Longitude_70.10878    496 non-null    uint8
 28  Longitude_70.1455     496 non-null    uint8
 29  Longitude_70.1456     496 non-null    uint8
 30  Longitude_70.3761     496 non-null    uint8
 31  Longitude_70.51364    496 non-null    uint8
 32  Longitude_70.6042     496 non-null    uint8
 33  Longitude_70.60908    496 non-null    uint8
 34  Longitude_70.6333     496 non-null    uint8
 35  Longitude_70.658161   496 non-null    uint8
 36  Longitude_70.6688     496 non-null    uint8
 37  Longitude_70.9095     496 non-null    uint8
 38  Longitude_70.9148     496 non-null    uint8
 39  Longitude_71.065      496 non-null    uint8
 40  Longitude_71.0713     496 non-null    uint8
 41  Longitude_71.0951     496 non-null    uint8
 42  Longitude_71.28436    496 non-null    uint8
 43  Longitude_71.2874     496 non-null    uint8
 44  Longitude_71.287421   496 non-null    uint8
 45  Longitude_71.333333   496 non-null    uint8
 46  Longitude_71.340408   496 non-null    uint8
 47  Longitude_71.398789   496 non-null    uint8
 48  Longitude_71.42502    496 non-null    uint8
 49  Longitude_71.4333     496 non-null    uint8
 50  Longitude_71.434141   496 non-null    uint8
 51  Longitude_71.43862    496 non-null    uint8
 52  Longitude_71.449009   496 non-null    uint8
 53  Longitude_71.4559     496 non-null    uint8
 54  Longitude_71.5131     496 non-null    uint8
 55  Longitude_71.5249     496 non-null    uint8
 56  Longitude_71.5448     496 non-null    uint8
 57  Longitude_71.560424   496 non-null    uint8
 58  Longitude_71.5805     496 non-null    uint8
 59  Longitude_71.653889   496 non-null    uint8
 60  Longitude_71.7359     496 non-null    uint8
 61  Longitude_71.742781   496 non-null    uint8
 62  Longitude_71.8749     496 non-null    uint8
 63  Longitude_71.9046     496 non-null    uint8
 64  Longitude_71.9308     496 non-null    uint8
 65  Longitude_72.036565   496 non-null    uint8
 66  Longitude_72.037771   496 non-null    uint8
 67  Longitude_72.0444     496 non-null    uint8
 68  Longitude_72.049453   496 non-null    uint8
 69  Longitude_72.050801   496 non-null    uint8
 70  Longitude_72.1833     496 non-null    uint8
 71  Longitude_72.362147   496 non-null    uint8
 72  Longitude_72.3667     496 non-null    uint8
 73  Longitude_72.4258     496 non-null    uint8
 74  Longitude_72.4702     496 non-null    uint8
 75  Longitude_72.5        496 non-null    uint8
 76  Longitude_72.6151     496 non-null    uint8
 77  Longitude_72.6378     496 non-null    uint8
 78  Longitude_72.6711     496 non-null    uint8
 79  Longitude_72.6718     496 non-null    uint8
 80  Longitude_72.757      496 non-null    uint8
 81  Longitude_72.8556     496 non-null    uint8
 82  Longitude_72.9372     496 non-null    uint8
 83  Longitude_73.0333     496 non-null    uint8
 84  Longitude_73.0437     496 non-null    uint8
 85  Longitude_73.0718     496 non-null    uint8
 86  Longitude_73.0944     496 non-null    uint8
 87  Longitude_73.2        496 non-null    uint8
 88  Longitude_73.4711     496 non-null    uint8
 89  Longitude_73.7242     496 non-null    uint8
 90  Longitude_73.7949     496 non-null    uint8
 91  Longitude_74.0786     496 non-null    uint8
 92  Longitude_74.28899    496 non-null    uint8
 93  Longitude_74.331873   496 non-null    uint8
 94  Longitude_74.33312    496 non-null    uint8
 95  Longitude_74.3407     496 non-null    uint8
 96  Longitude_74.435675   496 non-null    uint8
 97  Longitude_74.5361     496 non-null    uint8
 98  Longitude_74.5729     496 non-null    uint8
 99  Longitude_ 71.456944  496 non-null    uint8
dtypes: uint8(100)
memory usage: 48.6 KB

5.	It looks like 'kuram agency' and 'kurram agency' should be the same City column. Correct the dataframe so that they are considered same.

In [17]:
suicide_attacks['City'].unique()

array(['Islamabad', 'Karachi', 'Karachi ', 'Quetta', 'Rawalpindi',
       'North waziristan', 'Kohat', 'Attock ', 'Sialkot', 'Lahore ',
       'Swat', 'Hangu', 'Bannu', 'North Waziristan', 'Lasbela',
       'Malakand ', 'Peshawar', 'Peshawar ', 'D.I Khan ', 'Lakki Marwat',
       'Tank', 'Islamabad ', 'Quetta ', 'Gujrat', 'Charsadda', 'Tank ',
       'Swat ', 'D.I Khan', 'Kohat ', 'Kuram Agency ', 'Shangla ',
       'Bajaur Agency', 'South Waziristan', 'Haripur', 'bannu',
       'karachi ', 'Sargodha', 'Nowshehra', 'Charsadda ',
       'Mohmand agency', 'Dara Adam Khel', 'Khyber Agency', 'Mardan',
       'Bhakkar ', 'Orakzai Agency', 'Mohmand Agency', 'Buner',
       'D.G Khan ', 'Pishin', 'Chakwal ', 'Lahore', 'Upper Dir',
       'Muzaffarabad', 'swat', 'Totalai', 'Multan', 'D.G Khan',
       'Lower Dir', 'Lakki marwat', 'Sudhanoti', 'Khyber Agency ',
       'peshawar', 'Poonch', 'Mansehra', 'Karak', 'Mohmand Agency ',
       'South waziristan', 'lakki marwat', 'Swabi ', 'Dara Adam khel',
       'karachi', 'Shikarpur', 'Sukkur', 'Chaman', 'D. I Khan',
       'Khanewal', 'Fateh Jang', 'Taftan', 'Tirah Valley', 'Wagah',
       'Zhob', 'KURRAM AGENCY', 'ATTOCK', 'MULTAN', 'Taunsa', 'Jacobabad',
       'Shabqadar-Charsadda', 'Khuzdar', 'Ghallanai, Mohmand Agency ',
       'Hayatabad', 'Mosal Kor, Mohmand Agency', 'Sehwan town',
       'Tangi, Charsadda District'], dtype=object)

In [18]:
suicide_attacks['City']=suicide_attacks['City'].str.lower()
suicide_attacks['City']=suicide_attacks['City'].str.strip()

In [19]:
cities=suicide_attacks['City'].unique()
cities.sort()
cities

array(['attock', 'bajaur agency', 'bannu', 'bhakkar', 'buner', 'chakwal',
       'chaman', 'charsadda', 'd. i khan', 'd.g khan', 'd.i khan',
       'dara adam khel', 'fateh jang', 'ghallanai, mohmand agency',
       'gujrat', 'hangu', 'haripur', 'hayatabad', 'islamabad',
       'jacobabad', 'karachi', 'karak', 'khanewal', 'khuzdar',
       'khyber agency', 'kohat', 'kuram agency', 'kurram agency',
       'lahore', 'lakki marwat', 'lasbela', 'lower dir', 'malakand',
       'mansehra', 'mardan', 'mohmand agency',
       'mosal kor, mohmand agency', 'multan', 'muzaffarabad',
       'north waziristan', 'nowshehra', 'orakzai agency', 'peshawar',
       'pishin', 'poonch', 'quetta', 'rawalpindi', 'sargodha',
       'sehwan town', 'shabqadar-charsadda', 'shangla', 'shikarpur',
       'sialkot', 'south waziristan', 'sudhanoti', 'sukkur', 'swabi',
       'swat', 'taftan', 'tangi, charsadda district', 'tank', 'taunsa',
       'tirah valley', 'totalai', 'upper dir', 'wagah', 'zhob'],
      dtype=object)

In [20]:
matches=fuzzywuzzy.process.extract('kuram agency',cities,limit=10,scorer=fuzzywuzzy.fuzz.token_sort_ratio)

In [21]:
matches

[('kuram agency', 100),
 ('kurram agency', 96),
 ('bajaur agency', 72),
 ('khyber agency', 72),
 ('orakzai agency', 69),
 ('mohmand agency', 62),
 ('mosal kor, mohmand agency', 61),
 ('ghallanai, mohmand agency', 50),
 ('gujrat', 44),
 ('d.g khan', 40)]

In [22]:
def replace_matches_in_column(df,column,string_to_match,min_ratio=90):
    strings=df[column].unique()
    matches=fuzzywuzzy.process.extract(string_to_match,strings,limit=10,scorer=fuzzywuzzy.fuzz.token_sort_ratio)
    
    close_match=[matches[0] for matches in matches if matches[1] >= min_ratio]
    
    rows_with_matches=df[column].isin(close_match)
    df.loc[rows_with_matches,column]=string_to_match
    
    print('Done')

In [23]:
replace_matches_in_column(df=suicide_attacks,column='City',string_to_match='kuram agency',min_ratio=90)

Done

In [24]:
city=suicide_attacks['City'].unique()
city.sort()
city

array(['attock', 'bajaur agency', 'bannu', 'bhakkar', 'buner', 'chakwal',
       'chaman', 'charsadda', 'd. i khan', 'd.g khan', 'd.i khan',
       'dara adam khel', 'fateh jang', 'ghallanai, mohmand agency',
       'gujrat', 'hangu', 'haripur', 'hayatabad', 'islamabad',
       'jacobabad', 'karachi', 'karak', 'khanewal', 'khuzdar',
       'khyber agency', 'kohat', 'kuram agency', 'lahore', 'lakki marwat',
       'lasbela', 'lower dir', 'malakand', 'mansehra', 'mardan',
       'mohmand agency', 'mosal kor, mohmand agency', 'multan',
       'muzaffarabad', 'north waziristan', 'nowshehra', 'orakzai agency',
       'peshawar', 'pishin', 'poonch', 'quetta', 'rawalpindi', 'sargodha',
       'sehwan town', 'shabqadar-charsadda', 'shangla', 'shikarpur',
       'sialkot', 'south waziristan', 'sudhanoti', 'sukkur', 'swabi',
       'swat', 'taftan', 'tangi, charsadda district', 'tank', 'taunsa',
       'tirah valley', 'totalai', 'upper dir', 'wagah', 'zhob'],
      dtype=object)

In [25]:
fuzzywuzzy.process.extract('kuram agency',city,limit=10,scorer=fuzzywuzzy.fuzz.token_sort_ratio)

[('kuram agency', 100),
 ('bajaur agency', 72),
 ('khyber agency', 72),
 ('orakzai agency', 69),
 ('mohmand agency', 62),
 ('mosal kor, mohmand agency', 61),
 ('ghallanai, mohmand agency', 50),
 ('gujrat', 44),
 ('d.g khan', 40),
 ('mansehra', 40)]

Exercise 02

6.	Fetch first ten rows from the dataset, and note down the number of columns and rows in this dataset.

In [26]:
#I already had downloaded nfl with version 5, so I used it. It may differ from v4.
nfl=pd.read_csv("D:\\Uni-ka-Barood\\nfl\\NFL Play by Play 2009-2018 (v5).csv")

C:\Users\Home\AppData\Local\Temp\ipykernel_1732\449977013.py:2: DtypeWarning: Columns (2,3,4,5,6,7,9,13,20,21,24,25,33,34,37,38,39,41,42,46,47,160,161,162,163,164,165,166,167,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,224,225,226,227,228,229,230,231,232,233,234,236,237,242,244,245,246,250) have mixed types. Specify dtype option on import or set low_memory=False.
  nfl=pd.read_csv("D:\\Uni-ka-Barood\\nfl\\NFL Play by Play 2009-2018 (v5).csv")

In [27]:
nfl.head(10)

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,penalty_player_id,penalty_player_name,penalty_yards,replay_or_challenge,replay_or_challenge_result,penalty_type,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv
0,46.0,2.009091e+09,PIT,TEN,PIT,home,TEN,TEN,30.0,10/09/2009,...,NaN,NaN,NaN,0.0,NaN,NaN,0.0,0.0,0.0,0.0
1,68.0,2.009091e+09,PIT,TEN,PIT,home,TEN,PIT,58.0,10/09/2009,...,NaN,NaN,NaN,0.0,NaN,NaN,0.0,0.0,0.0,0.0
2,92.0,2.009091e+09,PIT,TEN,PIT,home,TEN,PIT,53.0,10/09/2009,...,NaN,NaN,NaN,0.0,NaN,NaN,0.0,0.0,0.0,0.0
3,113.0,2.009091e+09,PIT,TEN,PIT,home,TEN,PIT,56.0,10/09/2009,...,NaN,NaN,NaN,0.0,NaN,NaN,0.0,0.0,0.0,0.0
4,139.0,2.009091e+09,PIT,TEN,PIT,home,TEN,PIT,56.0,10/09/2009,...,NaN,NaN,NaN,0.0,NaN,NaN,0.0,0.0,0.0,0.0
5,162.0,2.009091e+09,PIT,TEN,TEN,away,PIT,TEN,98.0,10/09/2009,...,NaN,NaN,NaN,0.0,NaN,NaN,0.0,0.0,0.0,0.0
6,183.0,2.009091e+09,PIT,TEN,TEN,away,PIT,TEN,98.0,10/09/2009,...,NaN,NaN,NaN,0.0,NaN,NaN,0.0,0.0,0.0,0.0
7,207.0,2.009091e+09,PIT,TEN,TEN,away,PIT,TEN,94.0,10/09/2009,...,NaN,NaN,NaN,0.0,NaN,NaN,0.0,0.0,0.0,0.0
8,228.0,2.009091e+09,PIT,TEN,TEN,away,PIT,TEN,96.0,10/09/2009,...,NaN,NaN,NaN,0.0,NaN,NaN,0.0,0.0,0.0,0.0
9,253.0,2.009091e+09,PIT,TEN,PIT,home,TEN,TEN,43.0,10/09/2009,...,NaN,NaN,NaN,0.0,NaN,NaN,0.0,0.0,0.0,0.0

7.	Get the count of missing values in first twenty columns.

In [28]:
nfl_missing_values=nfl.isnull().sum()
nfl_missing_values[0:20]

play_id                      438372
game_id                      438372
home_team                    438372
away_team                    438372
posteam                      438755
posteam_type                 438744
defteam                      438744
side_of_field                438391
yardline_100                 438751
game_date                    438372
quarter_seconds_remaining    438378
half_seconds_remaining       438378
game_seconds_remaining       438378
game_half                    438372
quarter_end                  438372
drive                        438372
sp                           438372
qtr                          438372
down                         440057
goal_to_go                   438740
dtype: int64

8.	Get the percentage of data missing in this dataset.

In [29]:
nfl_missing_values1=nfl_missing_values.sum()
nfl_missing_values1

112868210

In [30]:
import numpy as np

tot_cells=np.product(nfl.shape)
total_missing_cell=nfl_missing_values1

In [31]:
missing_per=(nfl_missing_values1/tot_cells)*100
missing_per

98.49777386002859

9.	Take a look at the # of missing points in the columns ranging from 20 to 30.

In [32]:
nfl_missing_values[20:30]

time            438378
yrdln           438391
ydstogo         438372
ydsnet          438372
desc            438372
play_type       438744
yards_gained    438372
shotgun         438372
no_huddle       438372
qb_dropback     438744
dtype: int64

10.	Try removing all the rows from this dataset that contain missing values. How many are left?

In [33]:
rows_with_na_dropped=nfl.dropna(axis=0)

In [34]:
rows_with_na_dropped.shape

(0, 255)

11.	Now try removing all the columns with empty values. Now how much of your data is left?

In [35]:
columns_with_na_dropped=nfl.dropna(axis=1)

In [36]:
columns_with_na_dropped.shape

(449371, 0)






12.	Try replacing all the NaN's in this data with the one that comes directly after it and then replacing any remaining NaN's with 0.

In [38]:
nfl_filled = nfl.fillna(method='bfill', axis=0).fillna(0)

In [39]:
nfl_filled

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,penalty_player_id,penalty_player_name,penalty_yards,replay_or_challenge,replay_or_challenge_result,penalty_type,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv
0,46.0,2.009091e+09,PIT,TEN,PIT,home,TEN,TEN,30.0,10/09/2009,...,00-0022119,T.Polamalu,15.0,0.0,0.0,Unnecessary Roughness,0.0,0.0,0.0,0.0
1,68.0,2.009091e+09,PIT,TEN,PIT,home,TEN,PIT,58.0,10/09/2009,...,00-0022119,T.Polamalu,15.0,0.0,0.0,Unnecessary Roughness,0.0,0.0,0.0,0.0
2,92.0,2.009091e+09,PIT,TEN,PIT,home,TEN,PIT,53.0,10/09/2009,...,00-0022119,T.Polamalu,15.0,0.0,0.0,Unnecessary Roughness,0.0,0.0,0.0,0.0
3,113.0,2.009091e+09,PIT,TEN,PIT,home,TEN,PIT,56.0,10/09/2009,...,00-0022119,T.Polamalu,15.0,0.0,0.0,Unnecessary Roughness,0.0,0.0,0.0,0.0
4,139.0,2.009091e+09,PIT,TEN,PIT,home,TEN,PIT,56.0,10/09/2009,...,00-0022119,T.Polamalu,15.0,0.0,0.0,Unnecessary Roughness,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449366,0.0,0.000000e+00,0,0,0,0,0,0,0.0,0,...,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
449367,0.0,0.000000e+00,0,0,0,0,0,0,0.0,0,...,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
449368,0.0,0.000000e+00,0,0,0,0,0,0,0.0,0,...,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
449369,0.0,0.000000e+00,0,0,0,0,0,0,0.0,0,...,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
449370,0.0,0.000000e+00,0,0,0,0,0,0,0.0,0,...,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0